<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ILotto">
                    <security mode="None">
                        <message clientCredentialType="UserName" />
                    </security>
                </binding>
            </basicHttpBinding>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IPlayer" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:63188/Service1.svc/signIn"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IPlayer"
                contract="ServiceReference1.IPlayer" name="WSDualHttpBinding_IPlayer">
                <identity>
                    <userPrincipalName value="DESKTOP-ELT6TL4\User" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:63188/Service1.svc/startGame"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILotto"
                contract="ServiceReference1.ILotto" name="BasicHttpBinding_ILotto" />
        </client>
    </system.serviceModel>
</configuration>